doctype html
html
  head 
    title local-kirana 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.wrapper
      ul.get_elements 
        li 
          a(href="/shop/items") items 
        li 
          a(href="/shop/categories") categories 
      ul.create_elements 
        li
          a(href="/shop/create/item") Create Item 
        li 
          a(href="/shop/update/item") Update Item 
        li
          a(href="/shop/create/category") Create Category 
        li
          a(href="/shop/update/category") Update Category 
        li
          a(href="/shop/delete/item") Delete Item 
        li 
          a(href="/shop/delete/category") Delete Category     
    block content
